name: Publish site

on:
  schedule:
  - cron: '46 11 * * *'
  push:
    branches: [ main ]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
    - name: Build the site
      run: ./build.sh
    - name: Push dist to github pages branch
      shell: bash
      run: |
        git config --global user.name "Rouke Broersma"
        git config --global user.email "3595932+rouke-broersma@users.noreply.github.com"
        GIT_COMMIT=$(git rev-parse HEAD)
        git fetch
        git checkout gh-pages
        ls --hide=dist | xargs rm -r
        shopt -s dotglob
        mv dist/* .
        rmdir dist
        git add .
        git commit -am "Update to $GIT_COMMIT"
        git push -u origin gh-pages
